@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    font-family: 'Montserrat', sans-serif;
 
}
.task{
    font-weight: 300;
    font-size: 25px;
}
.wrapper{
    width: 1280px;
    margin: 50px auto;
}


main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.task{
  margin-bottom: 220px;
}
.taskwords{
  margin-bottom: 80px;
  margin-top: 40px;
  font-size: 50px;
  text-align: center;
}
.pics3,
.pics2{
  text-align: center;
}
.imgforquestion{
  position: relative;
    border: 7px solid #ffffff;
    height: 420px;
    width: 310px;
    margin-top: 70px;
    margin-right: 70px;
    border-radius: 10px 10px 10px 10px;
    transition: transform  500ms ease,filter  500ms ease,border 500ms ease;
    transform-origin: center;
    cursor: pointer;
}
.imgforquestion.active{
  border: 7px solid #000000;
  transform: scale(1.15);
filter:brightness(40%);
}
.imgforquestion:hover {
  border: 7px solid #000000;
  transform: scale(1.15);
  filter:brightness(40%);
}
.description{
    margin-bottom: 100px;
    font-size: 20px;
}
.almostknopka{
  margin-top: 700px;
  margin-bottom: 900px;
  text-align: center;
  font-size: 50px;
}
.knopka {
  border: 5px solid #a15c0d;
  transition: border 500ms ease;
  text-align: center;
  margin-top: 250px;
  margin-bottom: 330px;
  zoom: 2.3;
  margin-left:110px;
    width: 200px;
    height: 0px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    background: rgb(255,151,0);
    z-index: 1;
    padding-bottom:50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
  
  .knopka:hover {
    border: 5px solid #000000;
    color: #000;
  }
  .knopka:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  .knopka:active {
    top: 2px;
  }
.result{
  font-size: 60px;
  
}
.statfull{
  margin-top: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.stat{
  width: 1000px;
  height: 650px;
  margin-top: 70px;
  
}
.list{
  margin-left: 150px;
}
.resultname{
  font-size: 70px;

  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 50px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media  screen and (max-width: 1000px)and (min-width:500px) {
  body{
    zoom: 0.3;
  }
 
}
@media  screen and (max-device-width: 500px) {
  body{
    zoom: 0.25;
    
  }
  .statfull{
    display: block;
  
  }
  .knopka{
    height: 32px;
  }
}
@media  screen and (min-width: 1000px) and (max-height: 1300px){
  body{
    zoom: 0.6;
  }
 
}

@media  screen and (min-height: 1300px) {
  body{
    zoom: 0.8;
    margin-left: 50px;
  }
 
  .statfull{
    display: block;
  }
  .list{
    margin-top: 300px;
  }
}