@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background: #e9dac3;
    color: #222;
    font-family: 'Montserrat', sans-serif;
 
}
.task{
    font-weight: 300;
    font-size: 25px;
}
.wrapper{
    width: 1280px;
    margin: 50px auto;
}

header .logo{
    font-weight: 600;
    font-size: 50px;
}

header .presentation{
    margin: 50px 0;
    background: url('./img/header.jpg') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    margin-bottom: 50px;

}
main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imgforquestion{
    border: 1px solid #463b27;
    height: 250px;
    margin-bottom: 150px;
    margin-top: 50px;
    margin-right: 15px;
    border-radius: 10px 10px 10px 10px;
    transition: transform 500ms ease;
    cursor: pointer;

}
.imgforquestion.active{
    transform: scale(1.08);
    border: 4px solid #000000;
    margin-bottom: 140px;
    margin-top: 30px;
    margin-right: 10px;
}
.imgforquestion:hover {
    transform: scale(1.08);
    border: 4px solid #000000;
    margin-bottom: 140px;
    margin-top: 30px;
    margin-right: 10px;
}
.description{
    margin-bottom: 100px;
    font-size: 20px;
}

.knopka {
    width: 200px;
    height: 0px;
    margin-left: 400px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    background: rgb(255,151,0);
    border: none;
    z-index: 1;
    padding-bottom:50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
  .knopka:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #eaf818;
    background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .knopka:hover {
    color: #000;
  }
  .knopka:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  .knopka:active {
    top: 2px;
  }

