@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
 
}
.task{
    font-weight: 300;
    font-size: 25px;
}
.wrapper{
    width: 1280px;
    margin: 50px auto;
}


main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.taskwords{
  margin-bottom: 80px;
  margin-top: 220px;
  font-size: 50px;
  text-align: center;
}
.pics3,
.pics2{
  text-align: center;
}
.imgforquestion{
 
    border: 1px solid #000000;
    height: 420px;
    width: 310px;
    margin-top: 60px;
    margin-right: 60px;
    border-radius: 10px 10px 10px 10px;
    transition: transform 400ms ease;
    cursor: pointer;
}
.imgforquestion.active{
  border: 5px solid #ffffff;
  transform: scale(1.07);
   
}
.imgforquestion:hover {
  border: 5px solid #ffffff;
  transform: scale(1.07);
   
}
.description{
    margin-bottom: 100px;
    font-size: 20px;
}
.almostknopka{
  text-align: center;
  margin-top: 200px;
  font-size: 30px;
}
.knopka {
  text-align: center;
  margin-top: 200px;
  zoom: 1.5;
    width: 200px;
    height: 0px;
    margin-left: 200px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    background: rgb(255,151,0);
    border: none;
    z-index: 1;
    padding-bottom:50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
  .knopka:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #eaf818;
    background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .knopka:hover {
    color: #000;
  }
  .knopka:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  .knopka:active {
    top: 2px;
  }
.result{
  font-size: 60px;
  
}
.statfull{
  margin-top: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.stat{
  width: 1000px;
  height: 650px;
  margin-top: 70px;
  
}
.list{
  margin-left: 150px;
}
.resultname{
  font-size: 70px;

  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 50px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.numberofpicture{
  position: absolute;
  font-weight: 600;
  top:15%;
  left: 7%;
  color: #ffffff;
}
.fivepictures{
  position: relative;
}
@media  screen and (max-width: 1000px)and (min-width:500px) {
  body{
    zoom: 0.3;
  }
 
}
@media  screen and (max-device-width: 500px) {
  body{
    zoom: 0.25;
    
  }
  .statfull{
    display: block;
  
  }
  .knopka{
    height: 32px;
  }
}
@media  screen and (min-width: 1000px) and (max-height: 1300px){
  body{
    zoom: 0.6;
  }
 
}

@media  screen and (min-height: 1400px) {
  body{
    zoom: 0.8;
    margin-left: 50px;
  }
 
  .statfull{
    display: block;
  
  }
}